<!--Text Editor model-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="textModal{{id}}">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	  <h4 class="modal-title">Text editor</h4>
	  </div>
	  <div class="modal-body">
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Title</label>
					<input type="text" class="form-control" id="TitleIs" placeholder="title" data-ng-model="title">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">text Body</label>
					<textarea class="form-control" rows="3" data-ng-model="body">
	
					</textarea>
				</div>				
			</form>
	  </div>
	  <div class="modal-footer">
	  	  
			<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" aria-label="Close">Update</button>
			
	  </div>
	</div>
  </div>
</div>

<div class="rows">
	<div class="col-xs-12">
		<div class="contentArea">
			<h2>{{title}}</h2>
			<p>
				{{body}}
			</p>
		</div>
		
		<div class="contentControls" data-ng-show="edit">
			<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#textModal{{id}}">Edit Article</button>
		</div> 
	</div>	
</div>